body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #7f7fd5);
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background: #f2f2f2;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}


h2 {
  margin-bottom: 15px;
}


.toggle {
  display: flex;
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  
}

.toggle button {
  flex: 1;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.toggle .active {
  background: #2563eb;
  color: white;
}


input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.login-btn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}